<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.photo">

    <application>
        <activity
            android:name="com.photo.ui.PhotoUtilsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseLibrary"/>
    </application>
</manifest>
