<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanxing.ui">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.yanxing.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="85X6xtNAnjVoaYf016NScDTy" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdapterExampleActivity"
            android:label="@string/title_activity_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListDialogExampleActivity"
            android:label="@string/title_activity_list_dialog_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfirmExampleActivity"
            android:label="@string/title_activity_confirm_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadingDialogExampleActivity_"
            android:label="@string/title_activity_loading_dialog_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrowseImageExampleActivity_"
            android:theme="@style/noTitle" />
        <activity
            android:name=".BaiduMapExampleActivity_"
            android:label="@string/map_lable"/>
        <activity
            android:name=".FrescoExampleActivity_"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".EventBusExampleActivity_"
            android:label="@string/eventBus"/>
        <activity
            android:name=".TitleBarExampleActivity_"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
