<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yanxing.ui">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name="com.yanxing.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德地图key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="578ee5fcd1cb8302bbd2af7fb63ca1d5"/>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService">
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="85X6xtNAnjVoaYf016NScDTy"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AdapterExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".BrowseImageExampleActivity"
            android:theme="@style/noTitle"/>
        <activity android:name=".BaiduMapExampleActivity"/>
        <activity
            android:name=".FrescoExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity android:name=".EventBusExampleActivity"/>
        <activity
            android:name=".TitleBarExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".TabLayoutPagerExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".RecyclerViewExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".GreenDaoExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".SelectCityActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".ShowImageActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".RxJavaExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".XRecyclerViewActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".UltraPtrExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".ThreadTestActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".ThreadTestActivity2"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".animation.AnimationMainActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".animation.LayoutAnimationExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".DialogActivity"
            android:theme="@style/MyDialogStyleSelect"/>
        <activity
            android:name=".ButterKnifeExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".ExpandableListViewCheckActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".animation.ObjectAnimationActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".animation.QQHealthActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".animation.PathExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".InputEditButtonActivity"
            android:theme="@style/SwipeBack"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".TextImageActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".animation.HeartBubbleViewActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".DownloadLibraryActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".fragmentnest.NestExampleActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".SurfaceViewMediaPlayerActivity"
            android:theme="@style/SwipeBack"/>
        <activity
            android:name=".ProgressBarActivity"
            android:theme="@style/SwipeBack"/>
    </application>

</manifest>